<h1 class='title has-text-centered'>Editando um Treino</h1>
<div class='columns'>
  <div class='column is-8 is-offset-2'>
    <%= form_for(@routine, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <% if @routine.errors.any? %>
        <div class="panel is-danger is-offset-1">
          <div class="panel-heading">
            <h2 class="panel-title">
              <%= pluralize(@routine.errors.count, "erro") %>
              proibiram esse treino de ser salvo: </h2>
            <div class="panel-block">
              <ul>
                <% @routine.errors.full_messages.each do |msg| %>
                  <li>
                    - <%= msg %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
      <div class='field'>
        <%= f.label :name, 'Nome', class: 'label' %>
        <div class='control'>
          <%= f.text_field :name, class: 'input', placeholder: 'Entre com o nome do treino', autofocus: true %>
        </div>
      </div>
      <div class='field'>
        <%= f.label :description, 'Descrição', class: 'label' %>
        <div class='control'>
          <%= f.text_area :description, class: 'textarea', rows: 10, placeholder: 'Entre com a descrição detalhada do treino' %>
        </div>
      </div>
      <div class='field is-grouped'>
        <div class='control'>
          <%= f.submit "Atualizar Treino", class: 'button is-link' %>
        </div>
        <div class='control'>
          <%= link_to "Cancelar", :back , class: 'button' %>
        </div>
      </div>
    <% end %>
  </div>
</div>