<h1 class='title has-text-centered'>Adicionando Novo Treino</h1>
<div class='columns'>
  <div class='column is-8 is-offset-2'>
    <%= form_for(@routine, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class='field'>
        <%= f.label :name, 'Nome', class: 'label' %>
        <div class='control'>
          <%= f.text_field :description, class: 'input', placeholder: 'Entre com o nome do treino', autofocus: true %>
        </div>
      </div>
      <div class='field'>
        <%= f.label :description, 'Descrição', class: 'label' %>
        <div class='control'>
          <%= f.text_area :description, class: 'textarea', rows: 10, placeholder: 'Entre com a descrição detalhada do treino' %>
        </div>
      </div>
      <div class='field is-grouped'>
        <div class='control'>
          <%= f.submit "Salvar", class: 'button is-link' %>
        </div>
      </div>
    <% end %>
  </div>
</div>