<div class="columns">
  <div class="column is-8 is-offset-2">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          <%= @routine.name %>
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <%= @routine.description %>
          <br>
          <div class="is-pulled-right"> <b>Criado em:</b> <%= l @routine.created_at, format: '%d/%m/%Y' %></div>
        </div>
      </div>
    </div>
    <br/>
    <div class="field is-grouped">
      <div class="control">
        <%= link_to (t "actions.edit"), edit_routine_path(@routine), class: "button is-warning" %>
      </div>
      <div class="control">
        <%= link_to (t "actions.destroy"), routine_path(@routine),
                    method: :delete,
                    data: { confirm: (t "actions.confirm") },
                    class: "button is-danger" %>
      </div>
    </div>
  </div>
</div>
